<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="0a156e05-a0c1-47af-9fa7-9ffcb7e19cf4" wadlVersion="http://wadl.dev.java.net/2009/02" name="Get TV Change List" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="0a156e05-a0c1-47af-9fa7-9ffcb7e19cf4fileName">Get-TV-Change-List</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://api.themoviedb.org</con:endpoint></con:endpoints><con:environmentSpec><con:entry environmentId="d96e5a5e-e2fd-4394-aecb-d2496363120f"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>