<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="73f3bb20-7dbd-490b-b358-9550ce3b7aa3" name="TestSuite2_Certification_With Positive and Negative Test Cases" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="73f3bb20-7dbd-490b-b358-9550ce3b7aa3fileName">TestSuite2_Certification</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties><con:property><con:name>Valid Resource</con:name><con:value>list</con:value></con:property><con:property><con:name>Invalid Resource</con:name><con:value>nonlist</con:value></con:property></con:properties><con:reportParameters/><con:environmentSpec><con:entry environmentId="d96e5a5e-e2fd-4394-aecb-d2496363120f"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>