<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="25d71027-3154-4bdf-954c-581fc953cb70" name="TestSuite3_Changes_With Positive and Negative Test Cases" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="25d71027-3154-4bdf-954c-581fc953cb70fileName">TestSuite-3_Changes</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties><con:property><con:name>Valid_Resource</con:name><con:value>changes</con:value></con:property><con:property><con:name>Invalid Resource</con:name><con:value>changed</con:value></con:property></con:properties><con:reportParameters/><con:environmentSpec><con:entry environmentId="d96e5a5e-e2fd-4394-aecb-d2496363120f"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>