<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d1a6b31f-11d0-4c65-a5b0-86f58f6a43ef" name="TestSuite1_Authentication_With Positive and Negative Test Cases" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="d1a6b31f-11d0-4c65-a5b0-86f58f6a43effileName">TestSuite1_Authentication</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties><con:property><con:name>Valid Resource</con:name><con:value>new</con:value></con:property><con:property><con:name>Invalid Resource</con:name><con:value>old</con:value></con:property></con:properties><con:reportParameters/><con:environmentSpec><con:entry environmentId="d96e5a5e-e2fd-4394-aecb-d2496363120f"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>